* {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  contain: content;
  background-image: url(img/Fondo\ Final.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

footer {
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 0px 10px 3px rgb(132, 24, 255);
}

.navColor {
  background-color: rgba(63, 7, 128, 0.644);
  box-shadow: 0px 0px 10px 0px rgb(132, 24, 255);
}

.textNav {
  color: white;
  border-radius: 6px;
}

.logonav {
  color: white;
}

.logonav:hover {
  color: white;
}

.textNav:hover {
  background-color: rgb(252, 252, 252);
}

.burgerMenu {
  background-color: white;
}

.contenedorPrincipal {
  border-radius: 5px;
  text-align: center;
  margin-top: 50px;
  background-color: rgba(85, 85, 85, 0.664);
  box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
  display: flex;
}

.flexBack {
  box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
  background-color: rgba(85, 85, 85, 0.459);
  border-radius: 5px;
  margin-top: 30px;
  padding: 20px 0px 20px 0px;
}

.flexIn {
  display: flex;
}

.contenedorIMG {
  margin: auto;
  color: white;
  text-align: center;
  background-color: rgba(146, 146, 146, 0.719);
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}

.imgCards {
  width: 200px;
  height: 200px;
  border-radius: 7%;
}

.btnCards {
  background-color: rgba(63, 7, 128, 0.644);
  box-shadow: 3px 2px 10px 0px rgb(0, 0, 0);
  border: none;
  margin-bottom: 20px;
  border-radius: 6px;
}

.btnCards:hover {
  background-color: rgba(34, 32, 34, 0.644);
  box-shadow: 3px 2px 20px 0px rgb(0, 0, 0);
}

@media (max-width: 600px) {
  body {
    contain: content;
    background-size: cover;
  }
  .flexIn {
    flex-direction: column;
  }
  .contenedorIMG {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 40px;
  }
}
