$color-dominante: rgb(132, 24, 255);
$color-secundario: rgb(255, 255, 255);
$radius-general: 6px;

* {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  contain: content;
  background-image: url(../img/Fondo\ Final.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

footer {
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 0px 10px 3px $color-dominante;
}

.navColor {
  background-color: rgba(63, 7, 128, 0.644);
  box-shadow: 0px 0px 10px 0px $color-dominante;
}

.textNav {
  color: white;
  border-radius: $radius-general;
}

.logonav {
  color: white;
}

.logonav:hover {
  color: white;
}

.textNav:hover {
  background-color: $color-secundario;
}

.burgerMenu {
  background-color: white;
}

.contenedorPrincipal {
  border-radius: $radius-general;
  text-align: left;
  margin-top: 50px;
  background-color: rgba(85, 85, 85, 0.877);
  box-shadow: 0px 0px 10px 0px $color-secundario;
}

.flexBack {
  box-shadow: 0px 0px 10px 0px $color-secundario;
  background-color: rgba(85, 85, 85, 0.877);
  border-radius: $radius-general;
  margin-top: 30px;
  padding: 20px 0px 20px 0px;
}

.contenedorIMG {
  margin: 10px;
  color: white;
  text-align: center;
  background-color: rgba(146, 146, 146, 0.719);
  border-radius: $radius-general;
  box-shadow: 0px 0px 10px 0px $color-secundario;
  flex: 1 200px;
}

.contenedorIMG:hover {
  box-shadow: 0px 0px 10px 3px $color-dominante;
}

.imgCards {
  width: 200px;
  height: 200px;
  border-radius: $radius-general;
}

.btnCards {
  background-color: $color-dominante;
  box-shadow: 3px 2px 10px 0px rgb(0, 0, 0);
  border: none;
  margin-bottom: 20px;
  border-radius: $radius-general;
}

.btnCards:hover {
  background-color: rgba(34, 32, 34, 0.644);
  box-shadow: 3px 2px 20px 0px rgb(0, 0, 0);
}

/* Apartado de contacto */
.contactInfo {
  font-size: larger;
  flex: 1;
}

.imgcontacto{
min-width: 300px;

}

/* Fin de apartado de contacto */
/* Apartado de Reiki */
.carouselfather {
  margin-top: 50px;
  max-width: 600px;
  flex: 1;
  box-shadow: 0px 0px 10px 3px $color-secundario;
  border-radius: $radius-general;
}

.imgCarousel {
  height: 20rem;
}
/* Fin apartado de Reiki */
